# STM32CubeIDE Debug builds
**/STM32CubeIDE/Debug/
**/*.o
**/*.su
**/*.cyclo
**/*.hex
**/*.elf
**/*.map
**/*.d
**/*.list

# TouchGFX generated
**/TouchGFX/target/

# IDE project files
**/*.workspace
**/*.project
