
#metadata
.metadata/

#Debug
Debug/
debug/
Release/
release

# Prerequisites
*.d



# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
